:root {
    --white: #fff;

    --black: #000;

    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;

    --green-500:#10b981;
    --green-700:#047857;

    --red-400: #f87171;
    --red-500:#ef4444;
    --red-600: #dc2626;
}